*{
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 font-family: "Open Sans", sans-serif;
 padding: 0%;
 margin: 0%;
 box-sizing: border-box;
}

body{
  background-color:whitesmoke;
    overflow-x:hidden;
    overflow-y:auto;

}

.container{
  display: flex;
  flex-wrap: wrap;
 align-items: center;
}

.input-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 9px;
  padding: 5px;
  position: relative;
}

input{
  padding: 8px;
  width: 400px;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo{
  position: absolute;
  right: 10px;
}

.header-container{
  position: sticky;
  top: 0px;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
   background: #1f2937;
}


.container{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    gap:20px;
    width:100%;
    

}



h4{
  color: rgb(12, 204, 12);
  font-weight: 500;
  font-size: medium;
}

h4:hover{
 cursor: pointer;
}

.bar{
  display: none;
  text-decoration: none;

}


.blog-logo{
  font-size:35px;
  color: snow;
}

h3{
  color:snow;
}
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;

}


a{
  text-decoration: none;
  color:rgb(39, 36, 36);
    padding: 2px;
     white-space: nowrap;


}


.nav-container a {
    position: relative;
    text-decoration: none;
    color: black;

}

.nav-container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2.5px;
    background:#1f2937;
    transition: width 0.3s ease;
}

.nav-container a:hover::after {
    width: 100%;
    content: "";
}



.blog-container{
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
justify-content: center;
  justify-content: center;
  flex-wrap:wrap;
  gap: 80px;
  margin-top: 10px;
  
}

.blogs{
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   overflow: hidden;
   padding-top: 8px;

}

.title{
  text-align: center;
  padding: 8px;
}

.blogs img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 25px;
     object-fit: cover;
    
}

.blogs:hover{
  cursor: pointer;
   transition: 0.1s;
  transform: scale(1.05);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  

}


.footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
  justify-content:end;
   margin-top: 30px;
   padding-top: 30px;
    color:#1f2937;
    width: 100%;  
    opacity: 0.7;
}

.footer-links{
  display: inline; 
}

.footer-links a{
  padding: 10px;
     color:#1f2937;
     opacity: 0.8;
   
}

button{
  margin-top: 20px;
  text-align: center;
}

.inner{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:30px;
    max-width:1200px;
    margin:30px auto;
    padding:20px;
}


.image{
    width:100%;
    max-width:500px;
    height:auto;
    border-radius:20px;
    object-fit:cover;
}

.data{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:20px;
}


.btnn button{
  padding: 8px;
  background-color:#1f2937;
  color: snow;
  border-radius: 6px;
  border: none;
  outline: none;
}

.btnn button:hover{
  cursor: pointer;
  transition: 0.1s;
  transform: scale(0.95);
}


h6{
  font-size: medium;
}


h1{
  text-align: center;
  margin: 30px;
}


@media (max-width:830px){

  .nav-container a{
    font-size: 14px;
  }

  .input-container input{
    padding: 6px;
    width: 300px;
  }

  .sign-container h4{
    font-size: 14px;
  }

  .blog-logo{
    font-size: 30px;
  }

.inner{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:30px;
    max-width:1200px;
    margin:30px auto;
    padding:20px;
}


.image{
    width:100%;
    max-width:500px;
    height:auto;
    border-radius:20px;
    object-fit:cover;
}

.data{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:20px;
}


}


@media (max-width:687px){
  .nav-container a{
    font-size: 12px;
  }

  .input-container input{
    padding: 4px;
    width: 260px;
  }

  .sign-container h4{
    font-size: 12px;
  }


  .blog-logo{
    font-size: 30px;
  }

   .inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }

   .data{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.btnn button{
  width: 100%;
}

}



@media (max-width:556px) {
  .bar{
    display: block;
  }

  .nav-container{
    display: none;
  }

  .blog-container{
    margin: 10px;
  }

  .sign-container {
    display: none;
  }


  .blog-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
    padding:20px;
}

  h1{
    font-size: 25px;
  }


.btnn button{
  width: 100%;
}
  .nav-container{
    width: 100%;
    content: "";
    background-color: rgb(240, 243, 245);
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       padding: 10px;
  }
    


.nav-container.active {
     display: inline;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  
}

.nav-container a{
  font-weight: 600;
  color: #1f2937;
   padding: 5px;
   font-size: 14px;
}


.nav-container.active a:hover{
  cursor: pointer;
}


.nav-container {
    width: 100%;
    transition: top 0.4s ease;
}

 .nav-container a::after {
        height: 3px;
    }

    .nav-container a:hover::after {
        width: 100%;
    }


  .nav-container{
    margin-top: 5px;
  margin-bottom: 5px;
    }

    
.inner{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:10px;
    max-width:1200px;
    margin:10px auto;
    padding:10px;
}


.image{
    width:100%;
    max-width:500px;
    height:auto;
    border-radius:20px;
    object-fit:cover;
}

.data{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:20px;
}


.header-container{
  display: flex;
  flex-direction: column;
}


.container{
  gap: 6px;
  display: flex;  
  justify-content:flex-start;
  align-items:baseline;
  flex-direction: row;
  flex-wrap: nowrap;
}

.blog-logo{
  text-align: center;
}


}

@media (max-width:500px) {
  .nav-container a{
    font-size: 10px;
  }

  .input-container input{
    padding: 4px;
    width: 200px;
  }

  .sign-container h4{
    font-size: 12px;
  }

  .blog-logo{
    font-size: 35px;
  }

  .nav-container a{
    font-size: 14px;
  }

    .header-container{
       display: block;
  }

  .blog-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
    padding:15px;
}


  .input-container input{
    display: flex;
    justify-content: end;
    align-items:end;
  }


     
.inner{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:10px;
    max-width:1200px;
    margin:10px auto;
    padding:10px;
}


.image{
    width:100%;
    max-width:500px;
    height:auto;
    border-radius:20px;
    object-fit:cover;
}

.data{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:20px;
}

}


@media (max-width:470px){


  .nav-container{
    justify-content:space-evenly;
    
  }

  .nav-container a{
    font-size: 8px;
  }

  .input-container input{
    padding: 2px;
    width: 200px;
  }

  .sign-container h4{
    font-size: 12px;
  }

  .blog-logo{
    font-size: 35px;
  }

  .nav-container a{
    font-size: 10px;
  }


  .input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }


    .header-container{
       display: block;
  }

  .blog-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
    padding:15px;
}



.inner{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:10px;
    max-width:1200px;
    margin:10px auto;
    padding:10px;
}


.image{
    width:100%;
    max-width:500px;
    height:auto;
    border-radius:20px;
    object-fit:cover;
}

.data{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:20px;
}



}